html {
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html, body {
  height: 100%;
}
body {
  overflow-x: hidden;
  background: #000;
  color: #FFF;
  font-size: .875rem;
}
/* https://github.com/xtermjs/xterm.js/issues/512 */
terminal .xterm-viewport {
  overflow-y: auto;
}
.terminal .xterm-rows {
  position: absolute;
  top: 0;
  left: 5px;
  right: 17px; /* Use "right: 0" if the vertical scrollbar it not visible */
  overflow: hidden;
}
#terminal-container {
  margin: 0 auto;
  padding: 10px 2px;
  height: 100%;
}
